.lands_img {
    height: 547px;
}

.dynamic {
    transition: transform 1000ms ease-in-out !important;
}

.dynamic:hover {
    transform: scale(1.2) rotate(10deg) !important;
}

/*LAND OF FIRE START*/

/*LAND OF FIRE END*/
